body {
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

.room-list {
    width: 70%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

.rank-list {
    width: 30%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    float: right;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: silver;
    color: #fff;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}