@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #BA94D1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/carrot.jpg');
}

.container {
    text-align: center;
    border-radius: 5vw;
    padding: 5vw;
    box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.2);
    height: 60vh;
    width: 40vw;
    background-color: #F9B572;
    margin: auto;
}

.form {
    width: 20vw;
    height: 50vh;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
	text-align: center;
	color: #333;
	margin-bottom: 20px;
}

.input-group {
	margin-bottom: 15px;
}

.input-group label {
	display: block;
	margin-bottom: 5px;
}

.input-group input {
	width: auto;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.input-group input:focus {
	outline: none;
	border-color: #99B080;
}

.btn {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background: #99B080;
	color: white;
	cursor: pointer;
}

.btn:hover {
	background: #748E63;
}