@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #BA94D1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/carrot.jpg')
}
.container {
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 60vh;
    width: 40vw;
    background-color: #F9B572;
}
.form {
	width: 350px;
	height: 350px;
	border: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
}