@charset "UTF-8";

.board_line {
	display: grid;
	width: 504px;
    height: 504px;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(18, 1fr);
	border: solid 1px black;
    margin : 25px;
    position: absolute;
}
.board_dot{
	border: solid 1px black;
}
.dot{
	width:10px;
	height:10px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
#board{
	width: 504px;
    height: 504px;
    position: absolute;
    margin : 25px;
}
.stone{
	width: 22px;
    height: 22px;
    position: absolute;
    margin : 2px;
    background: radial-gradient(circle at center, #4e4e4e 0%, #000000 100%);
	border-radius: 50%;
}